{% comment %}
snippets/new-accordion-item.liquid


{%
  render 'new-accordion-item',
  accordion_heading_capture: accordion_heading_capture,
  accordion_content_capture: accordion_content_capture,
  default_open: block.settings.default_open_accordion,
  unique_id: block.id,
  forloop_index: forloop.index
%}
{% endcomment %}
<div class="js-accordion c-accordion c-accordion--product c-accordion--{{ unique_id }}" id="c-accordion--{{ unique_id }}" {% if section.settings.allow_multiple %}data-accordion-allow-multiple{% endif %}>
 {%- liquid

   assign accordion_content_class = 'c-accordion__panel--'
   assign accordion_content_id = accordion_content_class | append: unique_id | append: '-' | append: forloop_index
   assign page = blank

 -%}
 <button class="js-accordion-header c-accordion__header {% if default_open %}js-accordion-is-open{% endif %}"
     {% if default_open %}
       aria-expanded="true"
     {% else %}
       aria -expanded="false"
     {% endif %}
     aria-controls="{{ accordion_content_id }}" data-toggle="accordion"
     {{ block.shopify_attributes }} >
     {{ accordion_heading_capture }}
     <span class="dropdown-arrow">
       {% render 'snip-icons',
          wrapper: '.product__section-details .c-accordion__header',
          type: 'apollo',
          icon: 'down-carrot',
          classes: 'c-accordion__header--icon vib-center',
          size: '6px',
          fill: 'var(--text-color)',
          hover: 'var(--text-color)' %}
     </span>
 </button>
 <div class="c-accordion__panel {% if default_open %}is-active{% endif %} {{ accordion_content_id }} rte" id="{{ accordion_content_id }}" data-parent="#c-accordion--{{ unique_id }}">
   <div class="c-accordion__inner">
    {{ accordion_content_capture }}
   </div>
 </div>
</div>
